.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  background-color: #e2e8f7;
  border-radius: 16px;
}

.rate-color {
    color: #32396e;
}

@media only screen and (min-width: 280px) and (max-width: 576px) {
    .swiper-slide {
        width: 260px; 
    }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
    .swiper-slide {
        width: 290px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .swiper-slide {
        width: 310px;
    }
}
@media only screen and (min-width: 1080px) and (max-width: 1920px) {
    .swiper-slide {
        width: 340px;
    }
}
