.nav {
    z-index: 999;
}

.my-shopping-number {
    top: -0.5rem;
    left: -0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
   padding-top: 0.2rem;
    border-radius: 50%;
    background-color: #7A930D;
    color: #ffffff;
    font-size: 12px;
    font-weight:600 ;
}